{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Login</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="jumbotron">
    <form>
        <div class="border border-danger p-3">
             <div class="form-group w-50">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="username"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"> We'll never share your information to anyone else</small>

            </div><br>

            <div class="form-group w-50">
                <label for="pword">password</label>
                <input type="password" class="form-control" name="pword" placeholder="password" required id="pword" aria-describedby="passwordHelpBlock">
                <small>must be between 8-20 character, only letters, numbers and @,! as special characters</small>
            </div><br>


            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}